@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

* {
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

aside.sidebar.mobile {
  @apply z-10 -left-[500px] w-96;
}

aside.sidebar.mobile.sidebar-open {
  @apply left-0;
}

aside.sidebar .sidebar-links a,
aside.sidebar .sidebar-links div {
  @apply py-2 hover:pl-3 hover:bg-white rounded-md cursor-pointer;
}

.wrapper {
  @apply px-5;
}

section.signup-page .google-sign-in,
section.login-page .google-sign-in,
section.signup-page form,
section.login-page form {
  @apply w-96;
}
section.signup-page .input-group,
section.login-page .input-group {
  @apply flex flex-col mb-5 gap-2;
}

section.signup-page .input-group label,
section.login-page .input-group label {
  @apply font-semibold;
}

section.signup-page .input-group input,
section.login-page .input-group input {
  @apply border border-gray-300 rounded-md p-1;
}
